/* Tangerine regular */
@font-face {
  font-family: "Tangerine";
  src: url(../assets/Tangerine-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Tangerine bold */
@font-face {
  font-family: "Tangerine";
  src: url(../assets/Tangerine-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

/* Roboto regular */
@font-face {
  font-family: "Roboto";
  src: url(../assets/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Roboto bold */
@font-face {
  font-family: "Roboto";
  src: url(../assets/Roboto-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

/* Roboto light */
@font-face {
  font-family: "Roboto";
  src: url(../assets/Roboto-Light.ttf);
  font-weight: lighter;
  font-style: normal;
}

body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

a.button {
  display: block;
  background-color: black;
  color: white;
  padding: 5px 20px;
  font-size: 22px;
  transition: all ease-in-out 0.1s;
  border: 2px solid black;
}

a.button:hover {
  background-color: white;
  color: black;
}

/* START HEADER */

h1 {
  max-width: fit-content;
  margin: 0 auto;
  font-family: "Tangerine", "Times New Roman", Times, serif;
  font-size: 76px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  font-family: "Times New Roman", "Times", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  transition: border-bottom ease-in-out 0.2s;
}

.nav-link:hover {
  border-bottom: 5px solid black;
}

/* END HEADER */

/* START 404 */

#p404 > * {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#p404 {
  font-family: "Roboto", "Arial", sans-serif;
  max-width: fit-content;
  margin: auto;
}

#p404 h2 {
  font-size: 36px;
}

/* END 404 */

/* START ENTER */

#enter {
  font-family: "Roboto", "Arial", sans-serif;
  width: 50%;
  margin: auto;
}

#enter h2 {
  font-size: 28px;
  max-width: fit-content;
  margin: 15px auto;
}

#enter a {
  color: blue;
  text-decoration: underline;
}

#enter .error {
  max-width: fit-content;
  margin: 5px auto;
  color: red;
}

#enter form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#enter form div {
  display: block;
  width: 50%;
  margin: 0 auto;
}

#enter form p {
  margin: 0;
  font-size: 12px;
  color: #444444;
}

#enter input[type="text"],
#enter input[type="email"],
#enter input[type="password"] {
  width: 100%;
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 14px;
}

#enter input[type="submit"] {
  display: block;
  font-size: 18px;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 5px 30px;
  max-width: fit-content;
  margin: 30px auto;
  transition: all ease-in-out 0.1s;
}

#enter input[type="submit"]:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* END ENTER */

/* START PUBLISH */

#publish {
  font-family: "Roboto", "Arial", sans-serif;
  width: 75%;
  margin: auto;
}

#publish a {
  text-decoration: underline;
  color: inherit;
}

#publish h2 {
  font-size: 28px;
  max-width: fit-content;
  margin: 15px auto;
}

#publish .error {
  max-width: fit-content;
  margin: 5px auto;
  color: red;
}

#publish form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#publish form .section {
  display: block;
  width: 100%;
  margin: 0 auto;
}

#publish input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 14px;
}

.ck.ck-editor__editable_inline {
  box-sizing: border-box;
}

.ck-content {
  min-height: 220px;
}

/* #publish textarea { */
/*   font-family: "Roboto", "Arial", sans-serif; */
/*   width: 100%; */
/*   margin-top: 5px; */
/*   padding: 5px 10px; */
/*   font-size: 14px; */
/*   resize: none; */
/* } */

#publish input[type="submit"] {
  display: block;
  font-size: 18px;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 5px 30px;
  max-width: fit-content;
  margin: 30px auto;
  transition: all ease-in-out 0.1s;
}

#publish input[type="submit"]:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#publish input[type="submit"]:disabled {
  background-color: #d3d3d3;
  color: grey;
}

#publish input[type="submit"]:disabled:hover {
  cursor: not-allowed;
  color: grey;
  background-color: #d3d3d3;
}

/* END PUBLISH */

/* START PROFILE */

#profile {
  font-family: "Roboto", "Arial", sans-serif;
  width: 85%;
  margin: auto;
}

#profile .article-small {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  gap: 10px;
}

#profile .article-small img {
  width: 25%;
}

#profile .article-small-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#profile .article-title {
  display: block;
  width: 100%;
  margin: 5px auto 0px;
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  /* padding: 10px; */
  /* border: 1px solid black; */
  /* transition: all ease-in-out 0.1s; */
}

#profile .article-author {
  font-size: 12px;
  color: #444444;
  margin-top: 0;
  margin-bottom: 10px;
}

/* END PROFILE */

/* START HOME  */

#home {
  font-family: "Roboto", "Arial", sans-serif;
  width: 85%;
  margin: 30px auto;
}

#home .article-small {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  gap: 10px;
}

#home .article-small img {
  width: 25%;
}

#home .article-small-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#home .article-title {
  display: block;
  width: 100%;
  margin: 5px auto 0px;
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  /* padding: 10px; */
  /* border: 1px solid black; */
  /* transition: all ease-in-out 0.1s; */
}

#home .article-author {
  font-size: 12px;
  color: #444444;
  margin-top: 0;
  margin-bottom: 10px;
}

/* END HOME */

/* START ERROR */

#error > * {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#error {
  font-family: "Roboto", "Arial", sans-serif;
  max-width: fit-content;
  margin: auto;
}

#error h2 {
  font-size: 36px;
}

/* END ERROR */

/* START ARTICLE */

#article {
  font-family: "Roboto", "Arial", sans-serif;
}

#article .title {
  font-size: 36px;
  margin-bottom: 0px;
}

#article .info-wrapper {
  font-size: 16px;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

#article .author-wrapper {
  font-style: italic;
  font-weight: light;
  margin-top: 0px;
  margin-bottom: 0px;
}

#article .author {
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}

#article .date-wrapper {
  margin-top: 0.5em;
  margin-bottom: 0;
}

#article .date {
  font-weight: bold;
}

/* END ARTICLE */
